<html ng-app="app">
<head>
  <title  ng-bind="'CHAT-X  ROOM: ['+ room +'] Logged in as @' + username"></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="/vendor/socket-angular.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />

  <link rel="stylesheet" href="style.css">
  <script src="app.js"></script>
  <script src="ui.js"></script>
  <script src="services/session.js"></script>
  <script src="controllers/chatCtrl.js"></script>
  <script src="controllers/welcomeCtrl.js"></script>
  <script src="directives/directives.js"></script>
  

</head>
<body ng-controller="chatCtrl">
  <div id="container"  >
    <div id="chat-title">Chat</div>
    <div id="choose-name" class="popup " ng-controller="welcomeCtrl"  ng-class="{false:'pop-in', true:'pop-out'}[state.welcomeShwn]">
        <span>state {{state.welcomeShwn}}</span>
      <div id="username-form">
        <input type="text" id="username-text" tabindex="-1" required ng-enter="init()" focus="!state.welcomeShwn" 
               placeholder="Enter a username" ng-model="name" autocomplete="off">
        <button id="btn-go" ng-click="init()" >go</button>
      </div>
    </div>



    <div id="scroller" >
      <div class="chat-container">

        <div id="messages" class="subview loaded">
          <div id="conversation">
            <article class="message fade-in" ng-repeat="message in messages" ng-class="{ me: message.isMe }">
              <div class="avatar">
                  <span class="sphere">{{message.username | cut}}</span>
              </div>
              <div class="block">
                <p>{{message.data}}</p>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div id="cover"></div>
    </div>
    <div id="chat-bar">
      <input type="text" placeholder="Send a message" id="chat-input" ng-model="chatTxtBox" ng-enter="sendChatMsg()" focus="state.welcomeShwn" >
      <input id="chat-send" type="button" value="" class="btn cmnt" ng-click="sendChatMsg()" required >
    </div>
  </div>
  <div id="overlay"  ng-class="{false:'overlay fade-in', true:'overlay fade-out'}[state.welcomeShwn]"></div>
  <div id="usersCntnr" >
    <h3>Users</h3>
    <div id="users"></div>
  </div>
</body>
</html>
